<a href="https://colab.research.google.com/github/EvangelosTikas/DL/blob/main/HeartDisease_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd
import numpy as np
import csv

In [15]:
!pip install opendatasets
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: opendatasets in /usr/local/lib/python3.7/dist-packages (0.1.22)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.64.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (6.1.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2022.6.15)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [16]:
# import opendatasets as od #Not necessary
# import pandas
  
# od.download(
#     "https://www.kaggle.com/datasets/johnsmith88/heart-disease-dataset")

NotADirectoryError: ignored

In [27]:
df=pd.read_csv("/content/sample_data/heart.csv")
df.head(6)

to_drop = ['cp',
           'fbs',
           'restecg',
           'thalach',
           'exang',
           'oldpeak',
           'slope',
           'thal',
           'target']

df.drop(to_drop, inplace = True, axis = 1)
df.head(5)

   age  sex  trestbps  chol  ca
0   52    1       125   212   2
1   53    1       140   203   0
2   70    1       145   174   0
3   61    1       148   203   1
4   62    0       138   294   3

#Step 4: Renaming the column names as per our convenience.
This step involves renaming the column names because many column names are kinda confusing and hard to understand.

In [28]:
new_name = { 'age' : 'Age' ,
            'sex' : 'Sex',
            'trestbps' : 'Bps',
            'chol' : 'Cholesterol'
            }

df.rename(columns = new_name, inplace = True)
df.head()

   Age  Sex  Bps  Cholesterol  ca
0   52    1  125          212   2
1   53    1  140          203   0
2   70    1  145          174   0
3   61    1  148          203   1
4   62    0  138          294   3

# Step 5: Replacing the value of the rows if necessary.
This step involves replacing the incomplete values or making the values more readable, such as in here the Sex field consists of the values 1 and 0 being 1 as Male and 0 as Female, but it often seems ambiguous for the third person, so changing the value to an understandable one is a good idea.

In [29]:
replace_values = {0: 'F', 1: 'M'}
df = df.replace({"Sex": replace_values})
df.head()

   Age Sex  Bps  Cholesterol  ca
0   52   M  125          212   2
1   53   M  140          203   0
2   70   M  145          174   0
3   61   M  148          203   1
4   62   F  138          294   3